antigravity==0.1
appdirs==1.4.4
cachelib==0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cssselect==1.1.0
Deprecated==1.2.12
idna==2.10
keep==2.10.1
lxml==4.6.3
PyGithub==1.54.1
Pygments==2.8.1
PyJWT==1.7.1
pyquery==1.4.3
requests==2.25.1
terminaltables==3.1.0
urllib3==1.26.4
wrapt==1.12.1
